body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Header'ın içindeki overlay'ı kontrol etmek için */
}

.logo img {
  max-height: 85px;
  margin-right: 10px;
  -webkit-filter: invert(100%);
    filter: invert(100%);
}

.logo a{
  text-decoration: none;
}

.instaLogo{
  height: 30px;
  width: 30px;
}

nav {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white; /* Menü ikonunun rengi */
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  transition: color 0.3s; /* Hover efekti için geçiş süresi */
}

.nav-items a:hover {
  color: #3498db; /* Hover rengi */
  text-decoration: underline;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; /* Kartlar arasındaki boşluğu ayarlamak için */
}

.card {
  background-color: #ae9789;
  color: #222c3c;
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
}

.footer {
  padding: 10px;
  background-color: #f2f2f0;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Siyah yarı şeffaf bir overlay */
}
  
/* Navbar'ın mobil görünümdeki butonun dışındaki border'ı beyaz yapma */
.navbar-toggler {
  border: 1px solid white;
}


@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #222c3c;
    z-index: 999;
  }

  .nav-items.active {
    display: flex;
  }

  .nav-items a {
    margin-right: 0;
  }

  .info-item {
    margin-top: 25%;
  }

  .emoji {
    font-size: 20px;
    margin-right: 10px;
  }


  
}
